.settings/
.idea/
*.xcodeproj/
.DS_Store
*.o
/out
Debug
Release
*.log
*.target.mk
*.host.mk
*.Makefile
Makefile
/.project
*.sln
*.vcxproj
*.vcxproj.filters
*.sdf
*.opensdf
*.suo
*.pyc
/Default
*.vcxproj.user
*.cmddump
*.conf
*.swp
